body {
	margin: 0px, 0px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

#hero {
	background-image: url("../jumbotrons/moon.jpg");
	background-size: cover;
	position: relative;	
	height: 100vh;
	margin-bottom: 0px;
}

.header {
	color: #fff;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}