* {
	margin: 0px;
	padding: 0px;
}

a:hover, a:active, a:focus {
	outline: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

#hero {
	z-index: -1;
	background-image: url("../jumbotrons/notes.jpg");
	background-size: cover;
	position: relative;	
	height: 100vh;
}

#hero_text {
	position: relative;
	color: #FFF;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar {
	position: fixed;
	z-index: 10;
	top: 0px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #000;
	background-color: #FFF; /*color1*/
	display: none; /*wait for fadeIn()*/
	border-radius: 0px;
	border-color: #FFF;
}

/*center the navbar*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

#navbar li {
	display: inline;
}

#navbar li > a {
	padding-bottom: 12px;
	background-color: #FFF;
}

#navbar ul > li > a:hover {
	border-bottom: 2px solid #333;
}

#content {
	z-index: 1;
	width: 100%;
	background-color: #FFF;
	position: relative;
	padding: 5% 15% 5% 15%;
	text-align: center;
}

.event_display p {
	padding-top: 10px;
}

.event_display * {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.event_display iframe {
	height: 50vh;
}

.event_display h2 {
	margin-bottom: 40px;
}